@import '../../variables';

.btn_container {
    margin-top: 15vh;
    width: 90%;
    max-width: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        color: $primary-color;
        font-size: 1.25rem;
        padding: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: transparent;
        background: transparent;
        border-radius: 0.25rem;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $primary-color;
            color: $bg;
            box-shadow:
                0px 0px 2px rgba($primary-color, 0.75),
                0px 0px 5px rgba($primary-color, 0.75),
                0px 0px 10px rgba($primary-color, 0.75),
                0px 0px 20px rgba($primary-color, 0.75),
                0px 0px 40px rgba($primary-color, 0.75),
                0px 0px 80px rgba($primary-color, 0.75);
        }

        &:nth-of-type(2) {
            font-size: 1.25rem;
            border: 2px solid $primary-color;
            padding: 0.5rem 1rem;
        }

        &:last-of-type{
            opacity: 0;
        }
    }
}